version: "{build}"

environment:
  SNYK_TOKEN:
    secure: 8HHcJP7ARHNAWFRocNJtjNf3djhJd1IdDApO1cTnoBhW4Xr5gbfeY6GS1hAfVVI7

install:
  - ps: $nodejs_version = Get-Content .nvmrc -Raw | foreach{ $_.Trim()}
  # - ps: Install-Product node $nodejs_version x64
  - ps: Update-NodeJsInstallation $nodejs_version x64
  - npm install

build: off

test_script:
  - node --version && npm --version
  - npm run static
  - npm test

matrix:
  fast_finish: true
