{
  "presets": [
    [
      "@nuxt/babel-preset-app",
      {}
    ],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "modules": false,
        "debug": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
