// currently not used
// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "modules": false,
//         "useBuiltIns": "entry",
//         "debug": true
//       }
//     ]
//   ],
//   "plugins": [
//     "@babel/plugin-transform-runtime"
//   ]
// }
