{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "json",
    "vue"
  ],
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "array-bracket-newline": [
      "error",
      {
        "multiline": true,
        "minItems": 1
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "block-spacing": "error",
    "no-debugger": "off",
    "no-console": "off",
    "semi": [
      "error",
      "always"
    ],
    "complexity": [
      "error",
      {
        "max": 7
      }
    ],
    "quotes": [
      "error",
      "single"
    ]
  }
}
