{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "chai-friendly",
    "mocha",
    "json",
    "vue"
  ],
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ],
  "rules": {
    "no-debugger": 0,
    "semi": [
      2,
      "always"
    ],
    "complexity": [
      2,
      {
        "max": 7
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
