;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

;;;;
; all options with default values
;;;;
access=public
; always-auth=false
; also=null
; bin-links=true
; browser=null
; ca=null
; cafile=undefined
; cache=/Users/zool/.npm
; cache-lock-stale=60000
; cache-lock-retries=10
; cache-lock-wait=10000
; cache-max=null
; cache-min=10
; cert=null
; color=true
; depth=null
; description=true
; dev=false
; dry-run=false
; editor=vim
; engine-strict=false
; force=false
; fetch-retries=2
; fetch-retry-factor=10
; fetch-retry-mintimeout=10000
; fetch-retry-maxtimeout=60000
; git=git
; git-tag-version=true
; global=false
; globalconfig=/Users/zool/.node/etc/npmrc
; group=20
; heading=npm
; if-present=false
; ignore-scripts=false
; init-module=/Users/zool/.npm-init.js
; init-author-name=
; init-author-email=
; init-author-url=
; init-version=1.0.0
; init-license=ISC
; json=false
; key=null
; link=false
; local-address=undefined
; loglevel=warn
; long=false
; message=%s
; node-version=4.1.2
; npat=false
; onload-script=null
; only=null
; optional=true
; parseable=false
; prefix=/usr/local/Cellar/node/4.1.2
; production=false
; progress=true
; proprietary-attribs=true
; proxy=null
; https-proxy=null
; user-agent=npm/{npm-version} node/{node-version} {platform} {arch}
; rebuild-bundle=true
registry=https://registry.npmjs.org/
; rollback=true
; save=false
; save-bundle=false
; save-dev=false
; save-exact=false
; save-optional=false
; save-prefix=^
; scope=
; searchopts=
; searchexclude=null
; searchsort=name
; shell=/usr/local/bin/bash
; shrinkwrap=true
; sign-git-tag=false
; strict-ssl=true
tag=latest
; tag-version-prefix=v
; tmp=/var/folders/7y/j4hhyf5j0f19rqlvzwk99_2w0000gq/T
; unicode=true
; unsafe-perm=true
; usage=false
; user=503
; userconfig=/Users/zool/.npmrc
; umask=18
; version=false
; versions=false
; viewer=man
; _exit=true
; globalignorefile=/Users/zool/.node/etc/npmignore
