{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-css-modules",
    "stylelint-config-lost"
  ],
  "ignoreFiles": [
    "./**/*.js"
  ],
  "rules": {
    "no-empty-source": null,
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ]
  }
}
