{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-css-modules",
    "stylelint-config-lost"
  ],
  "customSyntax": "postcss-html",
  "ignoreFiles": [
    "./**/*.js"
  ],
  "rules": {
    "no-empty-source": null,
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "block-closing-brace-empty-line-before": null,
    "max-empty-lines": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "value-keyword-case": [
      "lower",
      {
        "camelCaseSvgKeywords": true
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "lost-vars",
          "em",
          "vw"
        ]
      }
    ]
  }
}
